<h1 class="mb-4 mt-4">Recently given rewards</h1>

<ul class="list-group">
    <%= for user_reward <- @user_rewards do %>
        <li class="list-group-item">
            <h5 class="d-inline">
                <%= user_reward.user_name %>
            </h5>
            receives
            <h5 class="d-inline">
                <%= user_reward.reward_name %>
            </h5>
        </li>
    <% end %>
</ul>
